* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(249, 249, 226, 0.677);
  font-family: "Kode Mono", monospace;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 91, 91);
  height: 750px;
  width: 1100px;
  border-radius: 70px;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(250, 248, 248);
  height: 65%;
  width: 80%;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.panel {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.square {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 6%;
}

.draw {
  background-color: rgb(67, 69, 68);
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  min-width: 132px;
  min-height: 132px;
}

.control-btn {
  min-height: 120px;
  min-width: 120px;
  font-size: 16px;
  font-family: "Kode Mono", monospace;
  border-radius: 100px;
  border: none;
  background-color: rgb(250, 248, 248);
  color: rgb(118, 93, 91);
  transition: transform 300ms ease-in-out;
}

.control-btn:hover {
  transform: scale(1.03);
}

.title {
  font-size: 40px;
  color: rgb(229, 199, 134);
}
